:root {
  --color1: rgb(0, 174, 255);
  --color2: rgb(255, 0, 238);
  --color3: rgba(255, 0, 238, 0.3);
  --color4: rgb(140, 0, 255);
  --color5: rgba(140, 0, 255, 0.1);
  --buttonColor1: rgb(219, 0, 205);
  --buttonColor2: rgb(112, 0, 204);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: normal;
}
body {
  font-family: "PT Serif", serif;
  color: white;
  background-color: black;
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-wrap: balance;
  text-align: center;
}
button,
input,
textarea {
  font-family: "PT Serif", serif;
  color: white;
}
textarea:focus {
  outline: none;
}
strong {
  font-weight: 700;
}
main.screens {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  scroll-snap-type: y proximity;
  top: 0;
  left: 0;
}
main.screens .display {
  display: flex;
  flex-direction: column;
}
main.screens .screen {
  height: 100vh;
  scroll-snap-align: start;
}
button.main {
  width: 85%;
  padding: 2% 0 3% 0;
  background: linear-gradient(150deg, var(--buttonColor1) 12%, var(--buttonColor2) 95%);
  border-radius: 4px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  border: 5px solid var(--buttonColor2);
  opacity: 0.9;
  font-size: 3.5cqh;
  text-shadow: 0px 0px 12px black;
  cursor: pointer;
}
button.circular {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 3.4cqh;
  width: 46px;
  height: 46px;
  opacity: 0.5;
  margin-bottom: 3cqh;
  align-self: flex-end;
  transition: opacity 0.2s linear;
}
button:hover {
  opacity: 1;
}
button.disabled,
button:hover.disabled {
  opacity: 0.5;
  cursor: default;
  background: gray;
  border-color: gray;
  animation: none;
}
button:active {
  transform: translateY(5px);
  opacity: 1;
}
button:active.disabled {
  transform: translateY(0);
}
h1 {
  font-weight: 700;
  font-size: 5cqh;
}
.tooltip {
  position: absolute;
  width: 90%;
  z-index: 2;
  left: 50%;
  padding: 1.5cqh 2cqh 2cqh 2cqh;
  font-size: 2.7cqh;
  line-height: 3.4cqh;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(205, 209, 255, 0.3);
  text-shadow: 0px 0px 12px black;
  backdrop-filter: blur(4px);
  box-shadow: 0 25px 45px -14px rgba(0, 0, 0, 0.9);
  transform-origin: left;
  animation: beat 2s ease-in-out infinite;
  scale: 0.1;
}
.tooltip.top {
  transition: top 1s ease, scale 2s ease;
  top: -100%;
}
.tooltip.top.show {
  scale: 1;
  top: 2.5%;
}
.tooltip.bottom {
  transition: bottom 1s ease, scale 2s ease;
  bottom: -100%;
}
.tooltip.bottom.show {
  scale: 1;
  bottom: 2.5%;
}
.tooltip strong {
  color: rgb(226, 183, 64);
}
.hide {
  display: none !important;
}
.screen-effects {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.screen-effects .loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 3.2cqh;
}
.screen-effects .loader .container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}
.screen-effects .spinner {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 100%;
  animation-duration: 700ms !important;
  opacity: 0.8;
}
.screen-effects .loader p {
  opacity: 0.8;
  text-shadow: 0 0 9px var(--color4);
  display: none;
}
.screen-effects .progress-bar {
  width: 100%;
  height: 3%;
  opacity: 1;
  display: flex;
  opacity: 0.7;
}
.screen-effects .flash {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(255, 0, 238, 0.4);
  animation: fade-in 0.1s linear infinite;
  mix-blend-mode: color-dodge;
  filter: brightness(1) contrast(1);
  background-blend-mode: overlay;
}
.screen-effects .progress-bar .bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, var(--color2) 12%, var(--color4) 95%);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}
.animated-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.animated-background div {
  width: 0;
  height: 0;
  background-image: url(../img/stars-portrait.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.animated-background .layer-1 {
  animation: 8s scale infinite ease-in;
}
.animated-background .layer-2 {
  animation: 4s scale infinite ease-in;
}
.animated-background .layer-3 {
  animation: 5s scale infinite ease-in;
  animation-delay: 2s;
}
.screen .container {
  width: 100%;
  height: 100%;
  position: relative;
}
.textEffect {
  background: linear-gradient(240deg, var(--color2) 12%, var(--color4) 55%, var(--color2) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: shine 1.8s linear infinite;
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}
.modal .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  right: 0;
  transition: all 0.5s;
}
.modal .content.collapse {
  right: -100vw;
}
/* Welcome screen */
#welcomeScreen .astrozarImage {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1;
  transform: translateY(120px);
}
#welcomeScreen img {
  width: 58cqh;
  height: auto;
}
#welcomeScreen .welcomeText {
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6%;
  padding: 5%;
}
#welcomeScreen .welcomeText h1 {
  color: var(--color2);
}
#welcomeScreen .welcomeText p {
  font-size: 3cqh;
  margin-bottom: 1.5cqh;
}
/* Query screen */
#queryScreen .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  padding: 5%;
}
#queryScreen h1 {
  font-size: 4.1cqh;
}
#queryScreen textarea {
  width: 85%;
  padding: 14.5% 10% 10% 10%;
  height: 64%;
  margin-bottom: 2%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: 1px solid var(--color4);
  text-shadow: 0px 0px 12px black;
  font-size: 4.6cqh;
  color: var(--color2);
  text-wrap: stable;
}
.screen.loading .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  padding: 5%;
}
.screen.loading .container h1 {
  font-weight: 700;
  font-size: 4cqh;
  text-shadow: 0px 0px 12px black;
}
/* Slots screen */
#slotsScreen .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  padding: 5%;
}
#slotsScreen .slot {
  width: 13cqh;
  height: 24cqh;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 8px solid rgba(140, 0, 255, 0.3);
  transition: all 0.1s linear;
  box-shadow: -20px -20px 70px -25px var(--color1), 20px 20px 60px -25px var(--color2),
    1px 1px 1px 1px var(--color1), 1px 1px 1px 1px var(--color2),
    0 0 3px 4px rgba(255, 255, 255, 0.3), 0 55px 135px -20px rgba(0, 0, 0, 0.5),
    inset rgba(0, 0, 0, 1) 0 0 25px 2px;
  position: relative;
}
#slotsScreen .slot ._openModal {
  width: 100%;
  height: 100%;
  position: absolute;
}
#slotsScreen .slot .order {
  opacity: 0.6;
}
#slotsScreen .slot .type {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 0.1s linear;
}
#slotsScreen .slot:hover {
  border: 8px solid rgba(140, 0, 255, 0.7);
}
#slotsScreen .slot:hover .animation {
  animation-play-state: paused;
}
#slotsScreen .slot:hover .type {
  opacity: 1;
}
#slotsScreen .slot.lock {
  border: none;
  box-shadow: 0 25px 45px -14px rgba(0, 0, 0, 0.9);
}
#slotsScreen .slot.lock.done {
  box-shadow: -20px -20px 70px -25px var(--color1), 20px 20px 60px -25px var(--color2),
    1px 1px 1px 1px var(--color1), 1px 1px 1px 1px var(--color2),
    0 0 3px 4px rgba(255, 255, 255, 0.3), 0 55px 135px -20px rgba(0, 0, 0, 0.5),
    inset rgba(0, 0, 0, 1) 0 0 25px 2px;
}
#slotsScreen #deck {
  width: 100%;
  height: 100%;
}
#slotsScreen .card {
  width: 33cqh;
  height: 57cqh;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  cursor: grab;
  border: 1px solid rgba(255, 200, 238, 0.2);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  background-image: url(../img/bg-card.webp);
  display: flex;
  align-items: center;
  justify-content: center;
}
#slotsScreen .slot.octahedron .type,
#slotsScreen .card.front.octahedron .number div,
#slotsScreen .card.back.octahedron .inner::before {
  background-image: url(../img/octahedron.webp);
}
#slotsScreen .slot.icosahedron .type,
#slotsScreen .card.front.icosahedron .number div,
#slotsScreen .card.back.icosahedron .inner::before {
  background-image: url(../img/icosahedron.webp);
}
#slotsScreen .slot.dodecahedron .type,
#slotsScreen .card.front.dodecahedron .number div,
#slotsScreen .card.back.dodecahedron .inner::before {
  background-image: url(../img/dodecahedron.webp);
}
#slotsScreen .card.back .inner::before {
  width: 80%;
  height: 86%;
  background-position: center;
  background-size: cover;
  opacity: 0.05;
  content: "";
  position: absolute;
  left: 10%;
  right: 0;
  bottom: 0;
  top: 7%;
}
#slotsScreen .card.back .inner {
  width: 80%;
  height: 86%;
  border-radius: 4px;
  border: 2px solid var(--color4);
}
#slotsScreen .card.back .inner .type {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 3.8cqh;
  line-height: 3.8cqh;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 1;
  color: var(--color4);
  text-decoration: overline;
  font-weight: 700;
}
#slotsScreen .card.back .inner .type span {
  display: block;
  position: absolute;
  bottom: 7cqh;
  font-size: 3.5cqh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 12px 9px 12px;
  border-radius: 100%;
}
#slotsScreen .card:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url(../img/sparkles.webp),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-size: 130%;
  opacity: 0.1;
}
#slotsScreen .card.front .inner {
  width: 80%;
  height: 86%;
  border-radius: 3px;
  border: 1px solid rgba(140, 0, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/dodecahedron-0.webp);
}
#slotsScreen .card.front .number {
  font-size: 3.1cqh;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  backdrop-filter: blur(4px);
  text-shadow: 0px 0px 12px black;
  padding: 0 1% 0 2.5%;
  border: 1px solid rgba(140, 0, 255, 0.3);
}
#slotsScreen .card.front .number p {
  width: 30%;
  text-align: right;
  padding-right: 5%;
  opacity: 0.9;
}
#slotsScreen .card.front .number div {
  width: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}
#slotsScreen .card.front .name {
  font-size: 3.1cqh;
  line-height: 3.5cqh;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-bottom: 5%;
  text-shadow: 0px 0px 12px black;
  padding: 3%;
  opacity: 0.9;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(140, 0, 255, 0.3);
}
#slotsScreen .slot.lock .card.front .name {
  font-size: 1cqh;
  line-height: 1.5cqh;
}
#slotsScreen .slot.lock .card.front .number p {
  font-size: 1cqh;
  line-height: 1.5cqh;
}
#slotsScreen .cardContainer {
  width: 33cqh;
  height: 57cqh;
}
#slotsScreen .slot .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: default;
}
.transition {
  transition: all 0.3s ease !important;
}
#slotsScreen #deck ._selected {
  z-index: 11;
  margin: 0;
  transform: rotate(0);
}
#answerScreen .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  padding: 5%;
}
#answerScreen h2 {
  font-size: 2.8cqh;
  font-weight: bold;
  color: rgb(255, 0, 238);
  padding: 1cqh 0 1.5cqh 0;
  text-shadow: 0 0 24px black;
  border-top: 2px solid rgba(255, 0, 238, 0.2);
  border-bottom: 2px solid rgba(255, 0, 238, 0.2);
  backdrop-filter: blur(2px);
}
#answerScreen h1 {
  font-size: 3.5cqh;
  text-shadow: 0 0 9px var(--color4);
  font-weight: normal;
}
#answerScreen .number p {
  font-size: 2.45cqh;
  opacity: 0.8;
}
#answerScreen .number h3 {
  font-size: 7.5cqh;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
#answerScreen ul li {
  list-style: none;
  display: inline-block;
  margin: 0 4px;
}
#answerScreen button._share {
  font-size: 2.8cqh;
}
@media (orientation: landscape) {
  .animated-background div {
    background-image: url(../img/stars-landscape.webp);
  }
  @media screen and (max-width: 640px) {
  }
}
