:root {
  --color4: rgb(140, 0, 255);
  --color1: rgb(0, 174, 255);
  --color2: rgb(255, 0, 238);
  --color3: rgba(255, 0, 238, 0.3);
  --color5: rgba(140, 0, 255, 0.1);
  --front: url(img/bg-card.webp);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #333844;
}
body {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 28px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 130%;
  background-size: cover;
  background-position: center;
  /* background-image: url(img/background-default.webp); */
  transition: all 4s;
}

.universe {
  background: url(img/background-stars.webp) no-repeat;
  background-size: cover;
  width: 130%;
  height: 130%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.universe:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed,
    596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7, 524px -237px #f0f0f0,
    679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf,
    446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc,
    -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3, -869px -29px #dbdbdb,
    502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
    -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf,
    -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb,
    730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed,
    813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7,
    459px 533px #fcfcfc, 624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1,
    810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2, 563px 47px #dedede,
    313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf,
    822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2,
    -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7,
    419px 288px #d1d1d1, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke,
    -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.star-field .layer:nth-child(1) {
  animation: stars-1 4s linear infinite;
}

.star-field .layer:nth-child(2) {
  animation: stars-2 6s linear infinite;
}

.star-field .layer:nth-child(3) {
  animation: stars-3 9s linear infinite;
}

.star-field .layer:nth-child(4) {
  animation: stars-3 3s linear infinite;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5%;
}

.container .column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.inner {
  padding: 0 10%;
}

#slots .container {
  height: 100%;
  gap: 5%;
  perspective: 2000px;
  position: relative;
  transform: translate3d(0.1px, 0.1px, 0.1px);
  z-index: 1;
  flex-direction: row;
}

.slot {
  width: 7cm;
  height: 12cm;
  max-width: 7cm;
  max-height: 12cm;
  border-radius: 0.25cm;
  background-color: rgb(55, 55, 55);
  aspect-ratio: 7 / 12;
  text-align: center;
  font-size: 0.7cm;
  line-height: 0.6cm;
  position: relative;
  touch-action: none;
  transition: all 0.3s ease;
  box-shadow: -10px -10px 20px -15px var(--color1), 10px 10px 20px -15px var(--color2),
    1px 1px 1px 1px var(--color2), 0 0 3px 4px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.slot:hover {
  background-color: rgba(55, 55, 55, 1);
  box-shadow: -20px -20px 70px -25px var(--color1), 20px 20px 60px -25px var(--color2),
    1px 1px 1px 1px var(--color1), 1px 1px 1px 1px var(--color2),
    0 0 3px 4px rgba(255, 255, 255, 0.3), 0 55px 135px -20px rgba(0, 0, 0, 0.5);
}
.slot .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25cm;
  box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 60px -12px;
}
.slot .symbol {
  width: 2.7cm;
  height: 2.7cm;
  background-color: black;
  opacity: 0.2;
  transition: all 0.3s;
}
.slot.triangle .symbol {
  width: 0;
  height: 0;
  border: 1.5cm solid transparent;
  border-top: 0;
  border-bottom: 2.7cm solid black;
  background: none;
}
.slot.circle .symbol {
  border-radius: 2.7cm;
}
.slot:hover .symbol {
  opacity: 0.3;
}

.slot.done {
  cursor: default;
  border-color: red;
  opacity: 1;
  background-color: red;
  cursor: none;
}

.slot .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.deck-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: -100vw;
  z-index: 9999;
  display: flex;
  transition: all 0.5s;
}
.deck-wrapper.appear,
#chosen.deck-wrapper {
  right: 0;
  backdrop-filter: blur(12px);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
#chosen.deck-wrapper {
  z-index: 99999;
}
#chosen.deck-wrapper.disappear {
  right: -100vw;
}

.deck-wrapper.background {
  background-color: rgba(0, 0, 0, 0.5);
}

.deck-wrapper .row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.deck-wrapper .row.big {
  flex: 2;
}

.deck-wrapper .row.medium {
  flex: 1.5;
}

.swiper-deck {
  width: 240px;
  height: 360px;
}

.card {
  width: 7cm;
  height: 12cm;
  max-width: 7cm;
  max-height: 12cm;
  border-radius: 0.25cm;
  background-color: black;
  aspect-ratio: 7 / 12;
  position: relative;
  overflow: hidden;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  padding: 0.6cm 0.6cm 0.8cm 0.6cm;
  text-align: center;
}
#slots .card.front {
  z-index: 10;
  touch-action: none;
  box-shadow: -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 1s ease, box-shadow 1s ease;
  will-change: transform, filter;
}
#slots .card.front:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2),
    1px 1px 1px 1px var(--color1), 1px 1px 1px 1px var(--color2),
    0 0 3px 4px rgba(255, 255, 255, 0.3), 0 55px 135px -20px rgba(0, 0, 0, 0.5);
}
.card.front:before,
.card.front:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}
.card.front:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}
.card.front:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}
#slots .card.front.active:after,
#slots .card.front:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}
#slots .card.front.active,
#slots .card.front:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}
#slots .card.front.active:before,
.card.front:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}
#chosen .card.front:hover:before {
  animation: none;
  background: none;
}
#slots .card.front.active:before,
#slots .card:hover:before,
#slots .card.front.active:after,
#slots .card.front:hover:after {
  animation: none;
  transition: none;
}
#slots .card.front.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}
#slots .card.front.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}
#slots .card.front.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}
.card.front .inner {
  height: 100%;
  position: relative;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  padding-top: 0.2cm;
}
.card.front .text {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
  color: var(--color3);
  background: linear-gradient(230deg, var(--color2) 12%, var(--color4) 55%, var(--color2) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.7cm;
}
.card.front .number {
  width: 0.9cm;
  height: 0.9cm;
  border-radius: 0.9cm;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.card.front.circle .number {
  font-size: 0.7cm;
  color: black;
  margin: auto;
  background: linear-gradient(150deg, var(--color2) 12%, var(--color4) 95%);
}
.card.front.square .number,
.card.front.triangle .number {
  font-size: 0.9cm;
  color: var(--color3);
  background: linear-gradient(230deg, var(--color2) 12%, var(--color4) 55%, var(--color2) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: auto;
}
.card.front.square .number {
  margin: 0;
}
.card.front .symbol {
  position: absolute;
  opacity: 0.8;
  bottom: 0;
}
.card.front.triangle .symbol {
  width: 0;
  height: 0;
  border: 0.5cm solid transparent;
  border-top: 0;
  border-bottom: 0.8cm solid var(--color2);
  left: 50%;
  transform: translateX(-50%);
}
.card.front.square .symbol {
  width: 0.75cm;
  height: 0.75cm;
  right: 0;
  transform: translateX(-0.1cm);
  background: linear-gradient(150deg, var(--color2) 12%, var(--color4) 95%);
}
.card.front .artwork {
  width: 5.8cm;
  height: 6.8cm;
  position: absolute;
  top: 2cm;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card.front.circle.eight .artwork {
  background-image: url(img/dagger.webp);
}

.card.back {
  box-shadow: 5px 5px 5px 5px rgba(137, 86, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.back:before,
.card.back:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  mix-blend-mode: color-dodge;
}
.card.back:after {
  z-index: 2;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  filter: brightness(1) contrast(1);
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}
.card.back:before {
  z-index: 1;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
}
.card.back .wrap {
  width: 100%;
  height: 100%;
  padding: 0.05cm;
  border-radius: 0.25cm;
  background: linear-gradient(
    115deg,
    var(--color3) 0%,
    var(--color5) 25%,
    var(--color3) 50%,
    var(--color5) 75%,
    var(--color3) 100%
  );
  box-shadow: 0 0 5px 0px black;
}
.card.back .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25cm;
  box-shadow: inset rgba(0, 0, 0, 0.8) 0px 0px 60px -12px;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 0.2cm;
  border-radius: 0.2cm;
}
.card.back .symbol {
  width: 2.5cm;
  height: 2.5cm;
  background-color: var(--color2);
  opacity: 0.1;
}
.triangle .card.back .symbol {
  width: 0;
  height: 0;
  border: 1.5cm solid transparent;
  border-top: 0;
  border-bottom: 2.5cm solid var(--color2);
  background: none;
}
.circle .card.back .symbol {
  border-radius: 2.5cm;
}
#btnBack {
  border: 5px solid white;
  border-radius: 100px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#btnChoose {
  width: 80px;
  height: 80px;
  display: block;
  color: white;
  border: none;
  background: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  cursor: pointer;
}

#btnChoose:after {
  z-index: -5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.2);
  border-radius: inherit;
  transform: scale(1.8);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#btnChoose:active:after {
  transform: scale(1);
  background: rgb(255, 0, 0, 1);
  transition: all 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#btnChoose:disabled::after {
  background: rgb(255, 0, 0, 1);
  transform: scale(1);
}

#btnChoose:disabled span {
  color: white;
  background-color: rgb(255, 0, 0, 1);
}

#btnChoose span {
  border-radius: 50%;
  background-color: white;
  height: 100%;
  width: 100%;
  color: black;
  border: 3px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.button {
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button.disabled,
.button:hover.disabled {
  opacity: 0.5;
  cursor: default;
  background-color: gray;
}

.button:active {
  margin-top: 5px;
}

.button:active.disabled {
  margin-top: 0;
}

.hide {
  display: none !important;
}

textarea {
  width: 80%;
  height: 40%;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 40px;
  overflow: hidden;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#loader .curtain {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(7px);
}

#loader .curtain.left {
  left: 0;
}

#loader .curtain.right {
  right: 0;
}

#loader .icon {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
}

/*** Animations ***/

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.blink {
  text-decoration: blink;
  animation-name: blinker;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.pulse {
  box-shadow: 0 0 0 rgba(255, 0, 0, 1);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 45px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-40px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}

.float {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes stars-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.1;
  }
  to {
    transform: translateZ(600px);
    opacity: 1;
  }
}
@keyframes stars-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.1;
  }
  to {
    transform: translateZ(400px);
    opacity: 1;
  }
}
@keyframes stars-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.1;
  }
  to {
    transform: translateZ(200px);
    opacity: 1;
  }
}
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
  }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
}
@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.tooltip {
  position: absolute;
  font-size: 1rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em 1em 0.7em 1em;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin: 2em;
  text-align: left;
  line-height: 1.1em;
  max-width: 22em;
}
.tooltip.animated {
  animation: beat 2s ease-in-out infinite;
}
.tooltip .content {
  background-repeat: no-repeat;
  padding-left: 65px;
  background-size: contain;
  background-position: 0 2px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.tooltip .content .hint {
  font-weight: bold;
  opacity: 0.3;
  color: rgb(51, 8, 71);
}
.tooltip .content p {
  margin-bottom: 0.2em;
}

#tooltip-slots {
  top: 0;
}
#tooltip-slots .content {
  background-image: url(img/icon-pointer.png);
}
#tooltip-complete {
  bottom: 0;
  text-align: center;
  max-width: 16em;
}
#tooltip-complete .content {
  padding-left: 0;
}
#tooltip-drag {
  top: 0;
  max-width: 29em;
}
#tooltip-drag .content {
  background-image: url(img/icon-grabbing.png);
  padding-left: 70px;
}
#tooltip-hold {
  top: -7em;
}
#tooltip-hold .content {
  padding-left: 0;
  text-align: center;
  max-width: 14em;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*** Media queries ***/

/* @media (min-width: 821px) {
  #slots .container {
    flex-direction: row;
  }
  .slot {
    aspect-ratio: 9 / 16;
    width: 80vw;
    height: auto;
    max-width: 240px;
    max-height: 360px;
  }
} */
@media (max-height: 12cm) {
  .slot {
    width: auto;
    height: 100%;
    font-size: 5vh;
  }
}
@media (max-width: 23cm) {
  .slot {
    width: 100%;
    height: auto;
    font-size: 2.8vw;
  }
}
